body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

li {
    display: inline;
    padding: 10px;
 }

img {

}


.searchbar {

}

.search {

}

.lucky {

#nav {
    position: fixed;
     top: 0;
     width: 100%;
}

}

#foot {
    position: fixed;
    bottom: 0;
    width: 100%;
}
 
 