body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 40px;    
 }

 
 .logo {
    display: box;
    margin-top: 150px;
    text-align: center;
 }

 .srch {
     text-align: center;
 }

 .button {
     text-align: center;
 }

 

 .foot {
    margin-top: 200px; 
    margin-bottom: 0px;
 }
 
